<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <proxies>
    <proxy>
      <id>Lilly</id>
      <active>true</active>
      <protocol>http</protocol>
      <host>us_proxy_indy.xh1.lilly.com</host>
      <port>9000</port>
      <nonProxyHosts>local.net|lilly.com|40.*.*.*</nonProxyHosts>
    </proxy>
  </proxies>

  <servers>
    <server>
      <id>snapshots</id>
      <username/>
      <password/>
    </server>
    <server>
      <id>releases</id>
      <username/>
      <password/>
    </server>    
    <server>
      <id>redmine</id>
      <username/>
      <password/>
    </server>  
  </servers>

  <profiles>

	
    
  <profile>
      <id>fuse</id>
      <repositories>
        <repository>
          <id>lilly</id>
          <name>llynexus</name>
          <url>https://llynexus.am.lilly.com:8443/nexus/content/groups/LillyGroup</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>repo.fusesource.com</id>
          <name>repo.fusesource.com</name>
          <url>https://repo.fusesource.com/nexus/content/groups/public/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
        <repository>
          <id>maven.repository.redhat.com</id>
          <name>maven.repository.redhat.com</name>
          <url>https://maven.repository.redhat.com/ga</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>lilly</id>
          <name>llynexus</name>
          <url>https://llynexus.am.lilly.com:8443/nexus/content/groups/LillyGroup</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>

    </profile>
  </profiles>
<activeProfiles>
    <activeProfile>fuse</activeProfile>
  </activeProfiles>
</settings>
